body{
	background-image: url(../image/London.jpg );
	background-repeat: no-repeat;
  	background-size: cover;
	font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
}

#scoringsheet{
	background-color: #FFFFFF99 
}

#gametable{
	background-color: rgba(255, 255, 255, 0.3);
}

tr img{
	height:4vw; 
}

#chacklist{
	background-color: rgba(255, 255, 255, 0.4);
}

div.row{
	padding-top: 2px !important;
	align-items: center !important;
}
div.row div.col{
	align-items: center !important;
}

.iconbox{
	display: flex;
	justify-content: center;
	align-items: center;
}

input{
	text-align: center;
	font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
	font-size: 4vh !important;
}


.iconbox img{
	height: 3vw;
	margin-left: 3px;
	margin-right: 3px;
}